body {
     margin: 0;
     font-family: 'Roboto Slab', serif;;
    
}

.wrapper {
    max-width: 1920px;
      

}
.bg-image-1{
    background-image:url('../img/background-main.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    padding: 0 10px 0 10px;

}

.main-wrapper {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}
.main-image-logo{
    max-width: 470px;
    margin: 0 auto;
}
.main-image-logo img{
    width: 100%;
}
.main-text1{
    text-align: center;
}
.main-title{
    color: white;
    font-size: 96px;
    padding: 40px 0;
}
.main-subtitle{
    color: white;
    font-size: 60px;
    padding-bottom: 40px;
}
.button-main{
    margin: 0 auto;
    padding-bottom: 180px;
    max-width: 480px;
    
}
.button-main a{
    text-decoration: none;
}
.button-book{
    width: 100%;
    font-size: 48px;
    padding: 10% 15%;
    background-color: #158daf;
    border-radius: 80px; 
    border: 0;
    color: white;
    text-align: center;
    box-sizing: border-box;
}
.bg-image-2{
    background-image:url('../img/bg-image-2.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    padding: 0 10px 0 10px;

}
.main-wrapper-2{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}
.main-subtitle-2{
    color:#003342;
    font-size: 36px;
    

}
.main-title-2{
    color: 158daf;
    text-align: center;
    font-size: 48px;
    padding-top: 100px;
    padding-bottom: 100px;
}
.main-subtitle-3{
    color:#003342;
    font-size: 36px;
}
.main-subtitle-4{
    color:#003342;
    font-size: 40px;
    padding: 80px 0 80px 0;
}
.foto-people{
    margin: 0 auto;
    max-width:420px;
    padding-bottom: 165px;
}
.foto-people img{
    
    width: 100%;
}
.main-title-3{
    color:#4daf46;
    font-size: 48px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 95px;
}
.main-blocks {
    width: 100%;
    display: inline-block;
}

.col-4 {
    box-sizing: border-box;
    width: 33.3333333%;
    display: inline-block;
    float: left;
}

.right-pad {
    box-sizing: border-box;
    padding-right: 10px;
}

.right-left-pad {
    box-sizing: border-box;
    padding: 0 5px;
}

.left-pad {
    box-sizing: border-box;
    padding-left: 10px;
}
.title-4 {
    padding-top: 25px;
    padding-left: 10px;
    width: 100%;
    font-size: 34px;
    color: #003342;
}
.list ul{
    width: 100%;
    font-size: 28px;
    color: #003342;
}
.foto-location{
    margin: 0 auto;
    max-width:260px;
    
}
.foto-location img{
    width: 100%;
    padding-top: 160px;
}
.main-title-5{
    color: #fd4b61;
    font-size: 48px;
    padding-top: 40px;
    text-align: center;
}
.main-title-6{
    color: #003342;
    font-size: 36px;
    text-align: center;
    padding-top: 60px;
}
.main-subtitle-6{
    color:#003342;
    font-size: 36px;
}
@media(max-width:485px){
    .main-title{
        font-size: 48px;
    }
    .main-subtitle{
        font-size: 20px;
    }
    [class*="main-title-"] {
        font-size: 35px;
    }

    .button-book{
        font-size: 20px;  
    }
}
@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 75%;
    }
}
@media only screen and (max-width: 890px) {
    [class*="main-title-"] {
        font-size: 35px;
    }
}
@media only screen and (max-width: 890px) {
    [class*="main-subtitle-"] {
        font-size: 30px;
    }
}
