body {
     margin: 0;
     font-family: 'Fira Sans', sans-serif;
    
}

.wrapper {
    max-width: 1920px;
      

}
.bg-image-1{
    background-image:url('../img/background-main.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    /*padding: 0 10px 0 10px;*/

}


.main-wrapper {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.main-image-logo{
    max-width: 650px;
    margin: 0 auto;
}
.main-image-logo img{
    width: 100%;
}
.main-text1{
    text-align: center;
}
.main-title{
    color: white;
    font-size: 96px;
    padding: 40px 0;
    letter-spacing: 5px;
}
.main-subtitle{
    color: white;
    font-size: 60px;
    letter-spacing: 3px;
    text-shadow: #00430D 5px 5px 4px;
}
.button-main{
    margin: 0 auto;
    padding-bottom: 100px;
    max-width: 480px;
    
}
.button-main a{
    text-decoration: none;
}
.button-book{
    display: block;
    font-size: 48px;
    padding: 5% 0;
    margin-top: 35px;
    background-color: #158daf;
    border-radius: 80px; 
    border: 0;
    color: white;
    text-align: center;
    box-sizing: border-box;
    letter-spacing: 3px;
}
.bg-image-2{
    background-image:url('../img/bg-image-2.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    padding: 0 10px 0 10px;

}
.main-wrapper-2{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}
.main-subtitle-1{
    color:#158daf;
    font-size: 34px;
    padding-top: 50px;
    text-align: center;
    

}
.main-subtitle-2{
    color:#003342;
    font-size: 30px;
    padding-top: 20px;
    

}
.main-title-2{
    color: #158daf;
    text-align: center;
    font-size: 48px;
    padding-top: 100px;
    padding-bottom: 100px;
    letter-spacing: 2px;

}
.main-subtitle-3{
    color:#003342;
    font-size: 36px;
}
.main-subtitle-4{
    color:#003342;
    font-size: 40px;
    padding: 80px 0 80px 0;
}
.foto-people{
    margin: 0 auto;
    max-width:320px;
    padding-bottom: 90px;
}
.foto-people img{
    
    width: 100%;
}
.main-title-3{
    color:#4daf46;
    font-size: 48px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 95px;
    letter-spacing: 2px;
}
.main-blocks {
    width: 100%;
    display: inline-block;
}

.col-4 {
    box-sizing: border-box;
    width: 33.3333333%;
    display: inline-block;
    float: left;
}

.right-pad {
    box-sizing: border-box;
    padding-right: 10px;
}

.right-left-pad {
    box-sizing: border-box;
    padding: 0 5px;
}

.left-pad {
    box-sizing: border-box;
    padding-left: 10px;
}
.title-4 {
    padding-top: 25px;
    padding-left: 10px;
    width: 100%;
    font-size: 34px;
    color: #003342;
}
.list ul{
    
    font-size: 28px;
    color: #003342;
}
.foto-location{
    margin: 0 auto;
    max-width:160px;
    
}
.foto-location img{
    width: 75%;
    padding-top: 100px;
}
.main-title-5{
    color: #fd4b61;
    font-size: 48px;
    padding-top: 40px;
    text-align: center;
    letter-spacing: 2px;
}
.main-title-6{
    color: #003342;
    font-size: 36px;
    text-align: center;
    padding-top: 60px;
}
.main-subtitle-6{
    color:#003342;
    font-size: 36px;
}
.main-menu-block img{
    width: 45%;

}



/*Page 2*/
.wrapper1 {
    max-width: 1920px;
    background-position: center;
    background-size: cover;
}

.background1 {
    background-image: url("../img/502.jpg");
}

.background2 {
    background-image: url("../img/Vec1.jpg");
}

.background3 {
    padding-top: 200px;
}

.main-wrapper2 {
    max-width: 1170px;
    margin: 0 auto;
}

.col-12 {
    width: 100%;
}

.col-6 {
    width: 50%;
    float: left;
}

.button-wrapper {
    padding: 85px 0 35px 0;

}

.double-button-wrapper {
    padding: 85px 0 75px 0;
    margin-bottom: 50px;
    display: inline-block;

}

.button {
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    padding: 20px 0;

}

.top-button {
    background-color: #ed1c24;
    border-radius: 50px;
    color: white;
    letter-spacing: 5px;
    font-size: 48px;
    width: 50%;
}

.middle-button {
    border-radius: 50px;
    font-size: 48px;
    letter-spacing: 5px;
    width: 80%;
    color: #424a60;
    border: 1px solid #ed1c24;

}

.double-button {
    width: 80%;
    background-color: #158daf;
    font-size: 36px;
    color: white;
    border-radius: 40px;
}

.title {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 3px;
    color: #15af32;
    width: 100%;
    padding-bottom: 25px;
}

.title-demo {
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 3px;
    color: #3cb953;
    width: 100%;
    padding-top: 70px;
}

.text {
    font-size: 28px;
    padding: 0 30px;
    color: #003342;
}

.text ul {
    padding-left: 60px;
    position: relative;
    z-index: 2;
}

.text-em {
    font-size: 28px;
    text-align: center;
    padding: 60px 30px;
    box-sizing: border-box;
    color: #003342;
}

.justify {
    text-align: justify;
}

.img-small {
    max-width: 160px;
    margin: 0 auto;
    padding: 100px 0 65px 0;
}
.img-small img{
    width: 100%;
    text-align: center;
}

.end-line-border {
    width: 80%;
    margin: 0 auto;
    height: 30px;
    border-bottom: 1px solid gray;
}
.footer{
    background-color:#424a60 ;
    height: 300px;
    margin:0 auto;

}
.social{
    padding-top: 90px;
    text-align: center;
    width: 100%;
}
.title-footer{
    font-size: 28px;
    text-align: center;
    letter-spacing: 2px;
    color: #fff;
    width: 100%;
}



@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 75%;
    }
}
@media only screen and (max-width: 890px) {
    [class*="main-title-"] {
        font-size: 35px;
    }
    [class*="main-subtitle-"] {
        font-size: 28px;
    }
    .button-book{
        padding: 5% 10%;
        font-size: 36px;
    }
    .main-subtitle{
        font-size: 36px;
    }
    .main-title{
        font-size: 60px;
    }
}
@media(max-width:485px){
    .main-title{
        font-size: 36px;
    }
    .main-subtitle{
        font-size: 20px;
    }
    [class*="main-title-"] {
        font-size: 35px;
    }
    [class*="main-subtitle-"] {
        font-size: 20px;
    }
    .button-book{
        font-size: 24px;  
    }
}

@media only screen and (min-width: 769px) and (max-width:1215px) {
    .list ul {
        font-size: 21px;
    }
    .title-4{
        font-size: 30px;
    }
}
@media screen and (max-width: 660px) {
    .background3 {
        padding-top: 100px;
    }

    .col-6 {
        width: 100%;
        padding: 10px 0;
    }

    .button-wrapper {
        padding: 60px 0 25px 0;
    }

    .double-button-wrapper {
        padding: 60px 0 55px 0;
    }

    .button {
        padding: 15px 0;
    }

    .top-button {
        width: 70%;
        font-size: 33px;
    }

    .middle-button {
        font-size: 33px;
    }

    .double-button {
        font-size: 30px;
    }

    .title {
        font-size: 30px;
    }

    .title-demo {
        font-size: 28px;
    }

    .text {
        font-size: 23px;
    }

    .text-em {
        font-size: 23px;
        padding: 50px 25px;
    }
}

@media screen and (max-width: 480px) {
    .background3 {
        padding-top: 70px;
    }

    .button-wrapper {
        padding: 50px 0 20px 0;
    }

    .double-button-wrapper {
        padding: 50px 0 45px 0;
    }

    .button {
        padding: 13px 0;
    }

    .top-button {
        width: 80%;
        font-size: 30px;
    }

    .middle-button {
        font-size: 28px;
        letter-spacing: 0px;
    }

    .double-button {
        font-size: 24px;
    }

    .title {
        font-size: 26px;
    }

    .title-demo {
        font-size: 24px;
    }

    .text {
        font-size: 20px;
    }

    .text-em {
        font-size: 20px;
padding: 45px 23px;
    }
}